body {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1560762484-813fc97650a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: cover;
    text-align: center;
    transition: filter 0.7s;
  }
  
  h1 {
    font-size: 60px;
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .btn {
    padding: 0.5rem 1rem;
    width: 15rem;
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .btn:hover {
    filter: brightness(0.8);
  }
  
  .active.container {
    filter: blur(5px) brightness(0.7);
  }
  
  .popup-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 25rem;
    height: 15rem;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url("https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1730&q=80");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;
  }
  
  h4 {
    font-size: 1rem;
    margin: 10px 0;
    font-family: sans-serif;
    color: blueviolet;
  }
  
  label {
    color: blueviolet;
    font-family: sans-serif;
  }
  
  .popup-btn {
    background-color: orangered;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid;
  }
  
  .input {
    border: 2px solid;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    text-align: center;
  }
  
  .input::placeholder {
    color: lightgray;
  }
  
  .close-icon {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
  
  .close-icon:hover {
    color: orangered;
  }
  
  .active.popup-container {
    visibility: hidden;
    opacity: 0;
    top: 10%;
  }

  