body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
    font-family: cursive;
  }
  
  .container {
    background-color: lightpink;
    width: 20rem;
    padding: 1rem;
    margin: 5px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .textarea {
    resize: none;
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 0.5rem;
    box-sizing: border-box;
    border: solid 2px darkgray;
  }
  
  .counter-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }
  
  .counter-container p {
    font-size: 1rem;
    color: gray;
  }
  
  .total-counter {
    color: slateblue;
  }
  
  .remaining-counter {
    color: green;
  }

  