body{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items:center ;
    height:100vh;
    justify-content:center;
    background: url(nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;


}
  h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: rgb(114, 17, 210);
  }
  
  .clock {
    display: flex;
  }
  
  .clock div {
    margin: 5px;
    position: relative;
  }
  
  .clock span {
    width: 6rem;
    height: 4rem;
    background: slateblue;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .clock .text {
    height: 2rem;
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #8b0000;
    opacity: 0.8;
  }
  
  .clock #ampm {
    bottom: 0;
    position: absolute;
    width: 4rem;
    height: 3rem;
    font-size: 1rem;
    background: rgb(240, 19, 137);
  }



