body {
    margin: 0;
  }
  
  .top-container {
    background-image: url("https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .top-container h1 {
    color: white;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 2px;
  }
  
  .text {
    margin: 2rem 5%;
    font-family: sans-serif;
  }
  
  .navbar {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
  }
  
  .navbar ul li a {
    text-decoration: none;
    margin: 0 0.5rem;
    color: black;
    font-family: cursive;
  }
  
  .navbar ul li a:hover {
    color: red;
  }
  
  .navbar.active {
    background-color: black;
  }
  
  .navbar.active ul li a {
    color: white;
  }
  
