body{
   margin: 0;
   display:flex; 
   justify-content: center;
   height: 100vh;
   align-items: center;
   background-color: aqua;
   font-family: sans-serif;
}
.form{
    background-color:white;
    padding:1rem;
    box-shadow:0 4px 8px black;
    border-radius:0.5rem;
    margin:0.5rem;

}
.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    border: solid 4px green;
    color: green;
  }
  
  .input::placeholder {
    color: lightgray;
    font-family: cursive;
  }
  
  .btn {
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: cursive;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .btn:hover {
    filter: brightness(0.9);
  }
  
  .score {
    color: green;
    text-align: right;
  }
  
  
