body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .bg-image {
    width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=626&q=80");
    background-position: center;
    background-attachment: fixed;
    background-size: 160%;
  }
  
  .container {
    padding: 3rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  p {
    color: grey;
  }
  
  @media (max-width: 28rem) {
    .container {
      padding: 0.5rem;
    }
  }
  